body{
    background-color: #9fe6d8;
}
*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    border:border-box;
}
.navbar{
    height: 60px;
    background-color: #000000;
    color:white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

/*amazon*/

.logo{
    background-image: url("amazon.png");
    background-size: cover;
    height: 56px;
    width: 100%;
}
.navlogo{
    height: 56px;
    width: 140px;
}
.border{
    border: 2px solid transparent;
}

.border:hover{
    border: 2px solid white;
}

/*deliver to india*/
.p1{
    font-size: 0.8rem;
    color:silver;
    font-weight: bold;
    padding-left: 15px;
}
.p2{
    font-size: 1rem;
    color:white;
    font-weight: bold;
    padding-left: 3px;
}
.addicon{
    display: flex;
}

/*search*/

.navsearch{
    background-color: gold;
    display: flex;
    width: 620px;
    height: 40px;
    border-radius: 3px;
}
.search{
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    background-color: #f3f3f3;
    padding: 5px;
    width: 50px;
    text-align: center;
    border: none;
}
.searchinput{
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    width:525px;
    font-size: 1rem;
    border: none;
}
.searchicon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    font-size: 1.3rem;
    background-color: orange;
    border-bottom-right-radius:3px;
    border-top-right-radius: 3px;
    color: #000000;
}
/*box4*/
.language{
    background-color: inherit;
    color: silver;
}
/*box5*/
span{
    font-size: 0.8rem;
}
.navbox5{
    font: 1rem;
    font-weight:700;
}
.border2:hover{
    border:3px solid orange;
}
/*box6*/

.box6 i{
    font-size: 1.5rem;
    display: flex;
    margin-left: 0px;
}
.box6{
    font-weight: bolder;
    display: flex;
}
/*panel*/
.panelall{
    height: 40px;
    background-color: #222f3d;
    display: flex;
    color:white;
    align-items: center;
    justify-content: space-evenly;
}
.paneloptions a{
    display: inline;
    margin-left: 10px;
}
.paneloptions{
    width: 70%;
    font-size: .85rem;
}
.deals{
    font-size: .9rem;
    font-weight: 700;
}
/*hero section*/
.herosection{
    background-image: url("hero1.jpg");
    height: 600px;
    width: 100vw;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.heromessage{
    height: 50px;
    width: 80vw;
    background-color: cyan;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
}
.heromessage a{
    font-size: 14px;
    font-weight: bold;
}
/*shopsection*/
.box{
    height: 400px;
    width: 20vw;
    background-color: white;
    border: 2px solid 9fe6d8;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
}
.box2{
    background-image: url("clothes.png");
    margin-left: 10px;
    margin-right: 10px;
}
.box3{
    background-image: url("computers.png");
    margin-left: 10px;
    margin-right: 10px;
}
.box4{
    background-image: url("coding.png");
    margin-left: 10px;
    margin-right: 10px;
}
.box5{
    background-image: url("cosmetics.png");
    margin-left: 10px;
    margin-right: 10px;
}
.box6{
    background-image: url("electronics.png");
    margin-left: 10px;
    margin-right: 10px;
}
.box7{
    background-image: url("books.png");
    margin-left: 10px;
    margin-right: 10px;
}
.box8{
    background-image: url("films.png");
    margin-left: 10px;
    margin-right: 10px;
}
.box9{
    background-image: url("furniture.png");
    margin-left: 10px;
    margin-right: 10px;
}

.shopsection{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.boximage{
    background-size: cover;
    height: 300px;
    margin-top: 10px;
}

/*footer*/

footer{
    margin-top: 15px;
}
.footpanelone{
    background-color:#232f2d;
    height: 40px;
    color: white;
    display: flex;
    justify-content: center;
    padding-top: 10px;
    font-size: 0.8rem;
}
.footpaneltwo{
    background-color: #232f3e;
    color: white;
    height: 400px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.footpaneltwo p{
    background-color: #232f3e;
    color: white;
    font-weight: bolder;

}
ul{
    list-style-type: none;
    margin-top: 10px;
}
.listtopic{
    font-weight: bolder;
    font-size: 20px;
    margin-top: 10px;
}


.footpanelthree
{
    background-color: #222f3a;
    height: 200px;
    color: white;
    border-top: 0.5px solid white;
    display: flex;
    justify-content: center;
}
.logo3{
    background-image:url("logo3.png");
    height: 57px;
    width: 164px;
    background-size: cover;
    display: flex;
    align-self: center;
}

.footpanelfour{
    background-color: #222f3a;
    color: white;
    font-weight: bold;
    height: 100px;
    border-top: 1px solid black;
}
.pages{
    text-align: center;
    padding-top: 25px;
}
.copyright{
    text-align: center;
}